.img-timeline {
  width: 35px; 
  height: 30px; 
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.input-search {
    height: 45px; 
}
.cornerimg{
  position: absolute;
  width: 40px;
  height: 40px;
}
.TR{
  top : 0px;
  right: 12px;
}
.modal-body-pri {
    word-wrap: break-word;
}
.foortertable{
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
.foortertable a{
  color: black;
}
.firstleaf{
  font-size: 16px;
  font-weight: bold;
}
.leaf{
   font-size: 14px;
}
.imagebox{
  border: 8px solid #EBEBEB;
  background-color: #EBEBEB;
  width: 244px;
  height: auto;
  margin : 15px;
  position: relative;
  float: left;
}
.imagebox p{
  padding: 7px;
  color: black;
}
.imagebox:hover{
  border: 8px solid #3c8dbc;
  background-color: #3c8dbc;
}

.imagebox:hover p{
  color: white;
}
.imagebox .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}
.imagebox img {
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

.gliphfooter{
  font-size: 24px;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto ;
  border-radius: 90%;
  max-height: 100px;
  max-width: 100px;
}
.centerimagefollowers {
  display: block;
  margin-left: auto;
  margin-right: auto ;
  border-radius: 90%;
  max-height: 70px;
  max-width: 70px;
}
.topmargin{
  margin-top: 10px;
  background-color: white;
  color: blue;
}
.bgtable td{
  padding-bottom: 4px;
  padding-right: 12px;
  text-align: justify;
}
.style_prevu_kit
{
    display:inline-block;
    border: 0;
    width: 70px;
    height: 120px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
}

.justifytext{
  text-align: justify;
}